<footer>
    <footer class="align--center margin--top-xs margin--bottom-lg">
        <button class="btn btn--primary" data-modal="#modal2" type="button">Impressum</button>
        <div class="footer-design margin--top-xs">
            Stillday-Design © 2018
        </div>
        <div id="modal2" class="modal js-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-headline h3">Lorem ipsum dolor sit amet</span>
                        <button class="modal-close js-close-modal" type="button">
                            <span class="icon-cross">
                                <span class="sr-only">Close</span>
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="editor-output">
                            <div class="impressum-text">
                                <p></p>

                                <p></p>
                                <p>Wien</p>
                                <p>Austria</p>
                                <p>Phone: +43 </p>
                                <p>Email: </p>
                                <p>Website: </p>
                                <a href="/datenschutz.html" target="_blank">PRIVACY POLICY</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer-item">
                            <a href="javascript:;" class="btn btn--primary icon-edit js-close-modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>