<!-- meta information -->
<meta charset="UTF-8">
<meta name="description" content="sample description">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#000">

<!-- disabling format detection -->
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="email=no">

<!-- socialmedia tags -->
<meta property="og:title" content="Website Title" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="de_DE" />
<meta property="og:url" content="http://example.com" />
<meta property="og:image" content="http://example.com/Images/share_image.jpg" />
<meta property="og:description" content="This is a sample description." />

<meta name="twitter:card" content="website" />
<meta name="twitter:site" content="Twitter site" />
<meta name="twitter:title" content="Twitter Title" />
<meta name="twitter:description" content="sample description" />
<meta name="twitter:image" content="http://example.com/img/share_image.jpg" />

<!-- favicons -->
<link href="/dist/assets/img/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="/dist/assets/img/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/dist/assets/img/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/dist/assets/img/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/dist/assets/img/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/dist/assets/img/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="129x129" href="/dist/assets/img/favicons/apple-touch-icon-129x129.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/dist/assets/img/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/dist/assets/img/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/dist/assets/img/favicons/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/dist/assets/img/favicons/favicon-32x32.png" />

<!-- resource hints -->
<link rel="preload" type="application/javascript" href="/dist/assets/js/plugin.min.js" as="script" />
<link rel="preload" type="application/javascript" href="/dist/assets/js/common.min.js" as="script" />
<link rel="preload" href="/dist/assets/font/icons.woff" as="font" type="font/woff" crossorigin />

<!-- css -->
<link rel="stylesheet" href="/dist/assets/css/application.css">

<!-- hreflang -->
<!--
Use hreflang for different languages.
E.G. on english page, also the english hreflang should be present!

<link rel="alternate" hreflang="de-AT" href="http://www.example.at/" />
<link rel="alternate" hreflang="en-GB" href="http://www.example.at/en/" />
-->

<!-- canonical -->
<link rel="canonical" href="http://www.example.com/examplepage.htm" />
