<!-- meta information -->
<meta charset="UTF-8">
<meta name="description" content="sample description">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#000">

<!-- disabling format detection -->
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="email=no">

<!-- socialmedia tags -->
<meta property="og:title" content="PRIM-Trio" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_EN" />
<meta property="og:url" content="https://prim-trio.at" />
<meta property="og:image" content="http://prim-trio.at/img/share_image.jpg" />
<meta property="og:description" content="Contemporary Jazz Trio" />

<meta name="twitter:card" content="website" />
<meta name="twitter:site" content="Twitter site" />
<meta name="twitter:title" content="Prim Trio" />
<meta name="twitter:description" content="Contemporary Jazz Trio" />
<meta name="twitter:image" content="http://prim-trio.at/img/share_image.jpg" />

<!-- favicons -->
<link href="assets/img/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="129x129" href="assets/img/favicons/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />

<!-- resource hints -->
<link rel="preload" type="application/javascript" href="js/plugin-min.js" as="script" />
<!-- <link rel="preload" type="application/javascript" href="assets/js/common.min.js" as="script" /> -->
<link rel="preload" href="assets/fonts/icomoon.woff" as="font" type="font/woff" crossorigin="crossorigin" />
<link rel="preload" href="assets/fonts/lg.woff" as="font" type="font/woff" crossorigin="crossorigin" />

<!-- css -->
<link rel="stylesheet" href="assets/css/application.css">

<!-- hreflang -->
<!-- Use hreflang for different languages. E.G. on english page, also the english hreflang should be present! <link rel="alternate" hreflang="de-AT" href="http://www.example.at/" /> <link rel="alternate" hreflang="en-GB" href="http://www.example.at/en/" /> -->

<!-- canonical -->
<!-- <link rel="canonical" href="http://www.example.com/examplepage.htm" /> -->